@import "tailwindcss";

@theme {
  --font-family-gill: "Gill Sans MT", sans-serif;
  --font-family-gill-condensed-bold: "Gill Condensed Bold", sans-serif;
  --font-family-haetten: "Haettenschweiler", sans-serif;
  --font-family-fredoka: "Fredoka", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-impact: "Impact Custom", Impact, sans-serif;
  --color-background: #f1eee6;
  --color-foreground: #171717;
}

:root {
  --background: #f1eee6;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Gill Sans MT";
  src: url("/fonts/GillSansMT.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GillSans Condensed Bold";
  src: url("/fonts/GillSans Condensed Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Haettenschweiler";
  src: url("/fonts/Hatten.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka";
  src: url("/fonts/Fredoka-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Impact Custom";
  src: url("/fonts/Impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1.5deg);
  }
  50% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-0.25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.swing-hover:hover {
  animation: swing 0.7s ease-in-out;
  transform-origin: top center;
}

.swing-effect {
  animation: swing 0.7s ease-in-out;
  transform-origin: top center;
}

.thin-scroll::-webkit-scrollbar {
  height: 2px; 
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent; 
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.7); 
  border-radius: 9999px; 
}

.hide-initial {
  opacity: 0;
  transition: opacity 0.8s ease-in-out; 
}
.is-visible {
  opacity: 1;
}